.container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transform-origin: 1 1 1 1;
  transition: transform;
  transition-duration: 1s;
}

.item {
  margin: 40px;
}

.tooltip>img {
  width: 200px;
  opacity: 1;
  transition: opacity;
  transition-duration: 0.5s;
}

.tooltip>img:hover {
  opacity: 0.5;
}

.item>h3 {
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.item>span {
  font-family: serif;
  text-align: center;
  font-size: 12px;
  display: block;
}
