body {
  style:"text-align:center";
  background-color: #FFF8F3;
  margin:25%;
}

.tooltip {
position: relative;
display: inline-block;
border: none;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 140px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
top: 100%;
left: 50%;
margin-left: -60px;
font-family: helvetica;
}

.tooltip .tooltiptext::after {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}

.container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  transform-origin: 0 0;
  transition: transform;
  transition-duration: 1s;
}

.item {
  margin: 40px;
  font-family: sans-serif;
}

.tooltip>img {
  width: 200px;
  opacity: 1;
  transition: opacity;
  transition-duration: 0.5s;
}

.tooltip>img:hover {
  opacity: 0.5;
}

.item>h3 {
  text-transform: uppercase;
  font-family: helvetica;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.item>span {
  font-family: serif;
  text-align: center;
  font-size: 12px;
  display: block;
}

.itemrotate {
  margin: 70px;
  transform: rotate(90deg);
}
.itemrotate>span {
  font-family: serif;
  text-align: center;
  font-size: 12px;
  display: block;
}

.itemrotate>h3 {
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.itemrotate>span {
  font-family: serif;
  text-align: center;
  font-size: 12px;
  display: block;
}
